svg {
    position:absolute;
}
.svgtelo {
    margin-top:80px;
    margin-left:0x;
    
}
.vlasy {
    
    margin-top:-30px;
    margin-left:-49px;
}
footer 
{
    margin-top:400px;
}